[Unit]
Description=%I' Minecraft server
After=network.target

[Service]
User=minecraft
Group=minecraft

RuntimeDirectory=minecraft-server-%i

Type=forking
ExecStart=tmux -S /run/minecraft-server-%i/tmux set -g default-shell /bin/bash ";" new-session -d "{{DEPLOY_DIRECTORY}}/contrib/server_loop.py --block start.block ./start.sh :POST: ./backup.sh"
ExecStop=tmux -S /run/minecraft-server-%i/tmux kill-server

PrivateTmp=true
PrivateDevices=true
ProtectHome=true
ProtectSystem=strict
ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectControlGroups=yes

NoNewPrivileges=true
PrivateUsers=true
ProtectClock=true
ProtectKernelLogs=true
ProtectHostname=true
LockPersonality=true
RestrictSUIDSGID=true
RestrictNamespaces=yes

SystemCallArchitectures=native
SystemCallFilter=@system-service
AmbientCapabilities=CAP_KILL
CapabilityBoundingSet=CAP_KILL

WorkingDirectory={{DEPLOY_DIRECTORY}}/servers/%i
ReadWriteDirectories={{DEPLOY_DIRECTORY}}

[Install]
WantedBy=multi-user.target
