[Unit]
Description=Minecraft server proxy
After=network.target

[Service]
User=minecraft
Group=minecraft

Environment="CALLED_FROM_SERVICE=true"
Environment="SERVER_NAME=proxy"
Environment="PIDFILE=/run/minecraft/proxy.pid"

Type=forking
PIDFile=/run/minecraft/proxy.pid
ExecStart=/var/lib/minecraft/server/proxy/service.sh start
ExecStop=/var/lib/minecraft/server/proxy/service.sh stop

PrivateTmp=true
PrivateDevices=true
ProtectHome=true
ProtectSystem=strict
ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectControlGroups=yes

NoNewPrivileges=true
PrivateUsers=true
ProtectClock=true
ProtectKernelLogs=true
ProtectHostname=true
LockPersonality=true
RestrictSUIDSGID=true
RestrictNamespaces=yes

SystemCallArchitectures=native
SystemCallFilter=@system-service
AmbientCapabilities=CAP_KILL
CapabilityBoundingSet=CAP_KILL

WorkingDirectory=/var/lib/minecraft/server/proxy
RuntimeDirectory=minecraft
LogsDirectory=minecraft/proxy

ReadWriteDirectories=/var/lib/minecraft

[Install]
WantedBy=multi-user.target
