[Unit]
Description=Minecraft server
After=network.target

[Service]
User=minecraft
Group=minecraft

Environment="CALLED_FROM_SERVICE=true"
Environment="SERVER_NAME=server"
Environment="PIDFILE=/run/minecraft/server.pid"

Type=forking
PIDFile=/run/minecraft/server.pid
ExecStart=/var/lib/minecraft/server/server/service.sh start
ExecStop=/var/lib/minecraft/server/server/service.sh stop

PrivateTmp=true
PrivateDevices=true
ProtectHome=true
ProtectSystem=strict
ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectControlGroups=yes

NoNewPrivileges=true
PrivateUsers=true
ProtectClock=true
ProtectKernelLogs=true
ProtectHostname=true
LockPersonality=true
RestrictSUIDSGID=true
RestrictNamespaces=yes

SystemCallArchitectures=native
SystemCallFilter=@system-service
AmbientCapabilities=CAP_KILL
CapabilityBoundingSet=CAP_KILL

WorkingDirectory=/var/lib/minecraft/server/server
RuntimeDirectory=minecraft
LogsDirectory=minecraft/server

ReadWriteDirectories=/var/lib/minecraft

[Install]
WantedBy=multi-user.target
