[Unit]
Description=Minecraft server proxy
After=network.target

[Service]
User=minecraft
Group=minecraft

Environment="INITD=true"
Environment="SERVER_NAME=proxy"
Environment="PIDFILE=/run/minecraft/proxy.pid"

Type=forking
PIDFile=/run/minecraft/proxy.pid
ExecStart=/opt/minecraft/server/proxy/service.sh start
ExecStop=/opt/minecraft/server/proxy/service.sh stop

PrivateTmp=true
PrivateDevices=true
ProtectHome=true
ProtectSystem=strict
ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectControlGroups=yes

RestrictNamespaces=yes

SystemCallArchitectures=native
SystemCallFilter=@system-service
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6

WorkingDirectory=/opt/minecraft/server/proxy
RuntimeDirectory=minecraft
LogsDirectory=minecraft/proxy

ReadWriteDirectories=/opt/minecraft

[Install]
WantedBy=multi-user.target
